@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@import "@material/typography/mdc-typography";
@import "@material/textfield/mdc-text-field";
@import "@material/select/mdc-select";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/layout-grid/mdc-layout-grid";

html, body {
    margin: 0;
    padding: 0;
}

h4 {
    margin-bottom: 12px;
}

pre {
    background-color: #f5f5f5;
    padding: 16px;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.mdc-top-app-bar--fixed-adjust {
    padding-top: 88px;
}

.map {
    height: 600px;
    width: 100%;
}

.form-toolbar {
    display: block;
    padding-bottom: 24px;
    width: 100%;
}

.geo-input-text {
    font-family: "Courier New", Courier, monospace;
    line-height: 1.2rem;
}
