<div class="mdc-top-app-bar__row">
  <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
    <a href="#" class="material-icons mdc-top-app-bar__navigation-icon">location_on</a>
    <span class="mdc-top-app-bar__title">GeoFiddle</span>
  </section>
  <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
    <a href="https://github.com/ruipinge/geofiddle" class="material-icons mdc-top-app-bar__action-item" title="Fork me on GitHub" target="_blank">code</a>
  </section>
</div>
