name: Build and Deploy

on:
  push:
    branches: master

permissions:
  contents: write

jobs:
  use-build:
    uses: ruipinge/geofiddle/.github/workflows/build.yml@master

  deploy:
    needs: use-build

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: static-files
          path: dist

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: dist
