html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.content {
    border-collapse: separate;
    border-spacing: 0;
    display: table;
    height: 100%;
    width: 100%;
}

.col {
    display: table-cell;
    width: 30%;
}

.row {
    display: table-row;
    height: 30%;
}

.form {
    display: table;
    height: 100%;
    width: 100%;
}

.form-toolbar {
    background: #f5f5f5;
    display: table-row;
    height: 56px;
    z-index: 1;
}

.form-input {
    height: 100%;
    width: 100%;
}
