html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.content {
    border-collapse: separate;
    border-spacing: 0;
    display: table;
    height: 100%;
    width: 100%;
}

.col {
    display: table-cell;
    width: 50%;
}

.row {
    display: table-row;
    height: 50%;
}

.form {
    border-collapse: separate;
    border-spacing: 10px;
    display: table;
    height: 100%;
    width: 100%;
}

.form-toolbar {
    display: table-row;
    height: 56px;
    z-index: 1;
}

.form-input {
    height: 100%;
    width: 100%;
}

.geo-input-text {
    font-family: "Courier New", Courier, monospace;
    line-height: 1.2rem;
}

.scrollable {
    height: 100%;
    overflow: auto;
}